/*这里负责样式相关*/
/*中心ciallo*/
.center {  
    width: 540px; /* 宽540 */  
    height: 120px; /* 高120 */  
    margin: auto; /* 外边距自动居中 */  
    position: absolute; /* 绝对定位 */  
    top: 0; /* 顶距0 */  
    bottom: 0; /* 底距0 */  
    left: 0; /* 左距0 */  
    right: 0; /* 右距0 */  
    user-select: none;  
    -webkit-user-select: none;  
    -moz-user-select: none;  
    -ms-user-select: none;  
    pointer-events: none; 
}  

/*页脚*/
footer {  
    position: fixed;  
    bottom: 0;  
    left: 0;  
    width: 100%;  
    text-align: center;  
    padding: 10px; 
    z-index: 0; 
   
}
/*方块*/
.butten {  
    display: inline-block;  
    padding: 15px 32px;  
    background-color: #ff6700;  
    color: white;  
    text-decoration: none;  
    border-radius: 8px;
    z-index: 1;  
}  

.unselectable { 
    user-select: none;  
    -webkit-user-select: none;  
    -moz-user-select: none;  
    -ms-user-select: none;  
    pointer-events: none; 
    z-index: 5; 
  }  
  marquee {  
    display: inline-block;  
  }  